<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eff7ff;
        }
    
        #pageContainer {
            margin: 0 auto;
            width: 80%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
    
        h1 {
            font-size: 32px;
            text-align: center;
            color: #ff4500;
            text-shadow: 2px 2px #000;
        }
    
        #loggedUser {
            margin-bottom: 10px;
            padding: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
    
        a {
            display: block;
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
            color: #fff;
            background-color: #ff4500;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
    
        a:hover {
            background-color: #ff5733;
        }
    
        .post {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            position: relative;
        }
    
        .comment {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #999;
            cursor: pointer;
            outline: none;
        }
    
        .comment:hover {
            color: #ff4500;
        }
    
        .vote {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 10px;
        }
    
        .upvote,
        .downvote {
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #999;
            cursor: pointer;
            outline: none;
        }
    
        .upvote:hover,
        .downvote:hover {
            color: #ff4500;
        }
    
        .votecounter {
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        .title {
            flex-grow: 1;
            margin-left: 10px;
        }
    
        h2 {
            font-size: 24px;
            margin: 0;
            margin-bottom: 5px;
            color: #ff4500;
            text-shadow: 1px 1px #000;
        }
    
        .img {
            margin-top: 10px;
            border: none;
            border-radius: 5px;
        }
    </style> 
</head>
<body>
    
