DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
RewriteBase /swiezutkieMemy/pub

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA]